# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PDF Sorter Config (Contains API Key)
.pdf_sorter_config.json

# IDE
.vscode/
.idea/

# Mac OS
.DS_Store

# Other Projects (Exclude from Orienteering repo)
/AudioBlogProject/
/GVカヌー予定アプリ/
/GV予約確認サイト/
/YOUTUBE要約一覧作成/
/まとめてZIP/
/みなかみ町インタープリター/
/携帯集計表/
/音声認識アプリ/
/竹について/
/心理学YTチャンネル/
/workman_deals_api/
/build/
/dist/
/オリエンテーリングの集計/
*.spec
