{
  "directories": [
    "C:\\path\\to\\your\\credit_card_folder_1",
    "C:\\path\\to\\your\\credit_card_folder_2"
  ],
  "keywords": [
    "ドコモ",
    "ＵＱ",
    "UQ",
    "ラクテンモバイル",
    "楽天モバイル",
    "ＩＩＪ",
    "IIJ",
    "ｐｏｖｏ",
    "povo"
  ]
}
